* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    outline: none;
}

strong {
    display: inline-block;
}

h2 {
    font-size: 48px !important;
    font-weight: 300 !important;
}

img {
    width: 100%;
}

h3 {
    font-size: 24px !important;
    font-weight: 300 !important;
}

strong {
    font-weight: bold !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

div {
    display: block;
}

.clrf9 {
    background-color: #f9f9f9;
}

.active-nav {
    background-color: #169fe6;
}

li {
    list-style: none;
}

.grey {
    color: #232323;
}

.light-grey {
    color: #767676;
}

.white-clr {
    color: #fff !important;
}

.card {
    background-color: transparent !important;
    border: none !important;
}

/*animate bars to X */

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    height: 2px;
    width: 25px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -8px;
}

#nav-toggle span:after {
    bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all .2s ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/**/

.navbar-expand-lg .navbar-collapse {
    flex-grow: 0 !important;
 
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline-style: none;
}

.navbar-expand-lg button {
    border: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 400;
}

.navbar-expand-lg .nav-link:hover:not(.navbar-brand) {
    color: #fff;
    border-bottom: 3px solid #4284df;
}

.navbar-expand-lg li:not(.navbar-brand) {
    padding: 10px 20px;
    padding-bottom: 0px;
}

.navbar-expand-lg .nav-link {
    transition: .2s ease-in-out;
    border-bottom: 3px solid transparent;
}

.fa-arrow-right {
    padding-right: 10px;
    padding-left: 10px;
    visibility: hidden !important;
}

.dropdown-item:hover {
    background-color: #343a40 !important;
}

.dropdown-item:hover .fa-arrow-right {
    visibility: visible !important;
}

.dropdown-item {
    cursor: pointer;
    padding: 0px !important;
    width: auto;
}

.dropdown-item a {
    padding-left: 10px !important;
}

#btn-nav .btn {
    padding: 5px 24px;
    margin-top: 5px;
    font-weight: 600;
    margin-left: -10px;
}

.navbar .container-fluid {
    margin: 0px 80px auto !important;
}

.dropdown-item:hover a {
    color: #4284df !important;
}

.dropdown .dropdown-menu {
    background: #343a40;
    border: none;
    border-radius: 0px;
}
#features {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    background-image: url("../images/feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.overlay {
    position: absolute;
    background: linear-gradient(#eb4e6f -10%, #4284df 75%);
    z-index: 2;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.8;
}

#features-content {
    position: relative;
    z-index: 3;
    color: #fff;
    padding-top: 135px;
    padding-bottom: 135px;
    font-weight: 800;
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
}

#features-content h1 {
    font-weight: 700;
    font-family: Poppins, sans-serif;
    font-size: 4.25rem;
    top: 50%;
    color: #fff;
    position: absolute;
    z-index: 2;
}

#insurance .row {}

#insurance-content {
    background-image: url("../images/insurance2.jpg");
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#insurance-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 300;
}

#insurance h2 {
    font-size: 48px;
    font-weight: 300;
}

#insurance img {
    width: 100%;
}

#insurance .overlay {
    background: linear-gradient(90deg, #0c57bf, #6441a5);
    opacity: .9;
}

#flexible-bg {
    position: relative;
    background-image: url("../images/flexable.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#flexible-bg .overlay {
    background: linear-gradient(90deg, #d6173f)!important;
    opacity: .5 !important;
}

#flexible-text {
    position: relative;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 90px;
    padding-bottom: 90px;
    z-index: 2;
    background-color: #fff;
    font-weight: 300;
}

#flexible-text p {
    color: #464646;
}

#lap {
    position: relative;
    background-image: url("../images/insurance2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-attachment: fixed;
}

#lap .overlay {
    background: linear-gradient(90deg, #0c57bf, #21b968);
    opacity: .8;
}

#lap-con {
    position: relative;
    color: #fff;
    z-index: 2;
}

#bluebg-container {
    position: relative;
    background-color: #4284df;
    background: linear-gradient(90deg, #4284df, #04367c);
    color: #fff;
    font-weight: 500 !important;
}

#bluebg-container h2, h3 {
    font-weight: 500 !important;
}

#bluebg-container h2 {
    font-size: 40px !important;
    display: inline-block;
}

#bluebg-container img {
    width: 100%;
}

#owner {
    background-color: #f9f9f9;
}

.owner-content {
    text-align: center;
}

.owner-content p {
    color: #232323;
    font-weight: 300 !important;
    font-size: 17px;
}

.owner-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.owner-content::after {
    content: "";
    width: 150px;
    height: 3px;
    display: inline-block;
    padding-top: 2px;
    background-color: #4284df;
}

.owner-pic {
    text-align: center;
}

#team h3 {
    font-weight: 300 !important;
}

#team h5 {
    color: #4e6dcc;
    font-size: 17px;
    font-weight: 300;
}

.team-pic {
    text-align: center;
}

.team-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team-content {
    text-align: center;
}

.team-content p {
    color: #232323;
    font-weight: 300 !important;
    font-size: 17px;
}

.owl-carousel .owl-item img {
    width: auto !important;
    display: inline !important;
}

#organizational {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

#organizational h3 {
    font-weight: 400 !important;
    line-height: 1.3;
}

#organizational img {
    width: 100%;
}

#organizational span {
    font-size: 32px;
    font-weight: 500;
    color: #767676;
    float: left;
}

#organizational p {
    color: #464646;
}

.read-me {}

#news span {
    font-family: Poppins;
    display: inline-block;
    background-color: #d6173f;
    color: #fff;
    padding: 0.2rem 1rem;
}

#news img {
    width: 100%;
}

#news {
    background-color: #f9f9f9;
}

#banking {
    font-family: 'Poppins', sans-serif;
}

#banking .grey {
    font-weight: 300 !important;
    font-size: 21px !important;
    line-height: 1.5rem;
}

.banking-img {
    width: 48px;
    height: 48px;
}

#consult {
    line-height: 1.5;
}

#consult img {
    width: 48px;
    height: 50px;
}

.opening-hours {
    background-color: #4284df;
    border-radius: 5px;
    color: #fff;
}

.opening-hours li span {
    float: right;
}

.opening-hours li::after {
    display: block;
    content: "";
    clear: both;
}

.opening-hours li:not(:first-child) {
    border-top: 1px solid;
}

#credit-card {
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #fd446b;
    background: linear-gradient(90deg, #fd446b, #5238ff);
}

#credit-p {
    font-size: 24px;
}

.box {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: Roboto, sans-serif;
}

.readme {
    color: #4284df !important;
    cursor: pointer;
    transition: color 1s ease-in-out;
}

.readme:hover {
    color: #4284df;
    text-decoration: none;
    border-bottom: 2px solid #4284df;
}

.nav-tabs .nav-item {
    border-bottom: 1px solid #4284df;
    margin-bottom: -1px;
    background: transparent;
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid #4284df !important;
    color: #4284df !important;
    padding: 0.5rem 1rem 0.5rem;
    background: transparent;
}

.nav-tabs .nav-item .nav-link {
    color: #767676;
    background: transparent;
}

.nav-tabs .nav-item .nav-link {
    border-radius: 0 !important;
    font-weight: 500 !important;
    border: none !important;
}

@media only screen and (max-width: 1090px) and (min-width: 991) {}

@media only screen and (max-width: 991px) and (min-width: 767px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

footer {
    background-color: #efefef;
}

footer p {
    font-size: 14px;
}

.img-logo-footer {
    width: 48px;
    height: 48px;
}